*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

.main{
    width: 100%;
    height: 150vh;
    position: absolute;
    background: url("../images/genre2.jpg");
    background-size: cover;

    
}

.box-container{
   position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0 ,0.6);
    overflow: hidden;
}

.cards{
   width: 100%;
   height: 50%;
   background: transparent;
   position: absolute;
   margin-right: 50px;
   justify-content: space-evenly;
   padding: 50px 50px 50px 50px;
   border-radius: 30px;
}

#fiction{
    width: 200px;
    height: 200px;
    position: relative;
    top: 0;
    margin-top: 70px;
    margin-left: 70px;
    background: red url("../images/dreamy.jpg");
    background-position: top;
    box-shadow: 0 0 25px 15px rgb(180, 86, 24);

} 

#narrative{
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-left: 70px;
    position: relative;
    left: 370px;
    top: -270px;
    background: red url("../images/dreamy.jpg");
    background-position: left;
    box-shadow: 0 0 25px 15px rgb(180, 86, 24);

}

#non-fiction{
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-left: 70px;
    position: relative;
    left: 710px;
    top: -540px;
    background: red url("../images/dreamy.jpg");
    background-position: right;
    box-shadow: 0 0 25px 15px rgb(180, 86, 24);

}

#poetry{
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-left: 70px;
    position: relative;
    left: 1080px;
    top: -810px;
    background: red url("../images/dreamy.jpg");
    background-position: center;
    box-shadow: 0 0 25px 15px rgb(180, 86, 24);
}

#story{
    width: 200px;
    height: 200px;
    position: relative;
    left: 0px;
    top: -805px;
    margin-top: 70px;
    margin-left: 70px;
    background: red url("../images/dreamy.jpg");
    background-position: left;
    box-shadow: 0 0 25px 15px rgb(180, 86, 24);

}

#article{
    width: 200px;
    height: 200px;
    position: relative;
    top: -1080px;
    left: 370px;
    margin-top: 70px;
    margin-left: 70px;
    background: red url("../images/dreamy.jpg");
    box-shadow: 0 0 25px 15px rgb(180, 86, 24);
    background-position: bottom;
}

#folklore{
   width: 200px;
   height: 200px;
   position: relative;
   top: -1345px;
   left: 710px;
   margin-top: 70px;
   margin-left: 70px;
   background: red url("../images/dreamy.jpg");
   background-position: left;
   box-shadow: 0 0 25px 15px rgb(180, 86, 24);

}

#children{
    width: 200px;
    height: 200px;
    position: relative;
    left: 1080px;
    top: -1610px;
    margin-top: 70px;
    margin-left: 70px;
    background: red url("../images/dreamy.jpg");
    background-position: top;
    box-shadow: 0 0 25px 15px rgb(180, 86, 24);

}

#novel{
    width: 200px;
    height: 200px;
    position: relative;
    left: 0;
    top: -1600px;
    margin-top: 70px;
    margin-left: 70px;
    background: red url("../images/dreamy.jpg");
    box-shadow: 0 0 25px 15px rgb(180, 86, 24);
    background-position: right;
}

#para{
    width: 200px;
    height: 200px;
    position: relative;
    top: -1875px;
    left: 370px;
    margin-top: 70px;
    margin-left: 70px;
    background: red url("../images/dreamy.jpg");
    box-shadow: 0 0 25px 15px rgb(180, 86, 24);
    background-position: left;
}

#quotes{
    width: 200px;
    height: 200px;
    position: relative;
    top: -2145px;
    left: 710px;
    box-shadow: 0 0 25px 15px rgb(180, 86, 24);

    margin-top: 70px;
    margin-left: 70px;
    background: red url("../images/dreamy.jpg");
    background-position: center;
}

.cards a{
    text-decoration: none;

}

.cards p{
    margin: 90px 40px 30px 40px;
    font-size: 20px;
    color: cornsilk;
}

.cards :hover{
    cursor: pointer;
}


@media only screen and (max-width: 710px){
    .cards{
        margin-left: 100px;
        margin-right: 100px;
        background-position: center;
    }
    
}
#fiction:hover,#narrative:hover,#non-fiction:hover,#poetry:hover,#story:hover,#article:hover,#folklore:hover,#narrative:hover,#children:hover,#novel:hover,#para:hover,#quotes:hover{
    box-shadow: 0 0 25px 15px rgb(233, 19, 169);

}
