*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 200vh;
    position: absolute;
    background: url("../images/novel.jpg");
    background-size: cover;

}

.box-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0 ,0.6);
    overflow: hidden;
}

.cards{
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    justify-content: space-evenly;
    border-radius: 30px;
    padding: 50px 50px 50px 50px;
    box-shadow: 0 0 25px 15px rgb(67, 115, 206);
 }
 
 #drama{
     width: 200px;
     height: 200px;
     position: relative;
     top: 0;
     left: 0;
     background: red url("../images/novel_template.jpg");
     background-position: top;
     margin-top: 70px;
     margin-left: 70px;
 } 
 
 #mythological{
     width: 200px;
     height: 200px;
     left: 350px;
     top: -270px;
     position: relative;
     margin-top: 70px;
     margin-left: 70px;
     background: red url("../images/novel_template.jpg");
     background-position: right;
 }
 
 #historical{
     width: 200px;
     height: 200px;
     position: relative;
     left: 670px;
     top: -540px;
     background: red url("../images/novel_template.jpg");
     background-position: left;
     margin-top: 70px;
     margin-left: 70px;
 }
 
 #sci-fi{
     width: 200px;
     height: 200px;
     position: relative;
     left: 970px;
     top: -816px;
     margin-top: 70px;
     margin-left: 70px;
     background: red url("../images/novel_template.jpg");
     background-position: center;
 }
 
 #social{
     width: 200px;
     height: 200px;
     position: relative;
    left: 0;
    top: -800px;
    margin-top: 70px;
     margin-left: 70px;
     background: red url("../images/novel_template.jpg");
     background-position: bottom;
 }
 
 #thriller{
     width: 200px;
     height: 200px;
     position: relative;
     left: 350px;
     top: -1065px;
     margin-top: 70px;
     margin-left: 70px;
     background: red url("../images/novel_template.jpg");
     background-position: right;
 }
 
 #romance{
    width: 200px;
    height: 200px;
    position: relative;
    left: 670px;
    top: -1338px;
    margin-top: 70px;
     margin-left: 70px;
     background: red url("../images/novel_template.jpg");
     background-position: top;
 }
 
 #psych{
     width: 200px;
     height: 200px;
     position: relative;
     left: 970px;
     top: -1610px;
     margin-top: 70px;
     margin-left: 70px;
     background: red url("../images/novel_template.jpg");
     background-position: left;
 }
 
 #fantasy{
     width: 200px;
     height: 200px;
     position: relative;
     left: 0;
     top: -1600px;
     margin-top: 70px;
     margin-left: 70px;
     background: red url("../images/novel_template.jpg");
     background-position: center;
 }
 
 #adventure{
     width: 200px;
     height: 200px;
     position: relative;
     left: 350px;
     top: -1875px;
     background: red url("../images/novel_template.jpg");
     background-position: left;
     margin-top: 70px;
     margin-left: 70px;
 }
 
 #comedy{
     width: 200px;
     height: 200px;
     position: relative;
     left: 670px;
     top: -2148px;
     background: red url("../images/novel_template.jpg");
     background-position: right;
     margin-top: 70px;
     margin-left: 70px;
 }
 #mystery{
     width: 200px;
     height: 200px;
     position: relative;
     left: 970px;
     top: -2413px; 
     background: red url("../images/novel_template.jpg");
     background-position: bottom;
     margin-top: 70px;
     margin-left: 70px;
 }
 
 #horror{
     width: 200px;
     height: 200px;
     position: relative;
     left: 350px;
     top: -2660px;
     background: red url("../images/novel_template.jpg");
     background-position: left;
     margin-top: 70px;
     margin-left: 70px;
 }
 
 #bildungsroman{
     width: 200px;
     height: 200px;
     position: relative;
     left: 670px;
     top: -2930px;
     background: red url("../images/novel_template.jpg");
     background-position: bottom;
     margin-top: 70px;
     margin-left: 70px;
 }
 
 #magical-realism{
     width: 200px;
     height: 200px;
     position: relative;
     left: 970px;
     top: -3205px;
     background: red url("../images/novel_template.jpg");
     background-position: center;
     margin-top: 70px;
     margin-left: 70px;
 }
 
 #biography{
     width: 200px;
     height: 200px;
     position: relative;
     left: 0;
     top: -3180px;
     margin-top: 70px;
     margin-left: 70px;
     background: red url("../images/novel_template.jpg");
     background-position: top;
 }

 #autobiography{
     width: 200px;
     height: 200px;
     position: relative;
     left: 350px;
     top: -3450px;
     margin-top: 70px;
     margin-left: 70px;
     background: red url("../images/novel_template.jpg");
     background-position: right;
 }

 #random-collection{
    width: 200px;
    height: 200px;
    position: relative;
    left: 0;
    top: -2390px;
    margin-top: 70px;
    margin-left: 70px;
    background: red url("../images/novel_template.jpg");
    background-position: right;

 }

.cards a{
    text-decoration: none;
}

.cards p{
    margin: 90px 40px 30px 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.cards:hover{
    cursor: pointer;
    box-shadow: 0 0 25px 15px rgb(96, 180, 28);
}

 